@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
#container{
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
header{
    width: 100%;
    height: 100px;
    background-color: #045;
}
    #logo{
        padding-left: 20px;
        width: 250px;
        height: 100px;
        /* 행간 높이 조정 */
        line-height: 100px;
        float: left;
       
    }
    #logo h1{
        font-family: 'Merienda', cursive;
        font-weight: 700;
        font-size: 40px;
        /* 디자인 영역 */
        color: #fff;
        text-shadow: 0 -1px 0 #222;
    }
    nav{
        width: 900px;
        height: 100px;
        float: right;
        background-color: #045;
        /* padding-top: 40px; */
       
    }
        #topMenu{
            height: 60px;
        }
        #topMenu li{
            float: left;
            padding-top: 40px;
        }
        #topMenu>li>a{
            /* 블록속성부여하고 패딩줘서 칸 만들기 */
            display: block;
            padding: 20px 60px;
            font-size: 1.1em;
            font-weight: 600;
            color: #fff;

        }
main{
    width: 1000px;
    height: 650px;
    margin: 5% auto;
    /* background-color: aqua; */
}
    main div{
        margin-top: 20px;
    }
    main section {
        margin-top: 60px;
    }
    main h2 {
        font-size: 1.5em;
        line-height: 2.5;
    }
    main h3{
        font-size: 1.2em;
        line-height: 2.2;
    }
    .detail p {
        line-height: 2.0;
        color: #222;
    }
    .detail img{
        float: left;
        border-radius: 20px;
        margin-right: 50px;
    }
    #schedule h3{
        font-size: 1.2em;
    }
    #schedule ul li{
        line-height: 2.0;
    }
footer{
    width: 1200px;
    height: 100px;
    border-top: 2px solid #222;
}
    footer>section{
        width: 100%;
        height: 20px;
        margin-left: 60px;
    }
    #bottomMenu li{
        float: left;
        padding: 5px 20px;
        border-right: 1px solid #ddd;
    }
    #bottomMenu li:last-child {
        border: none;
    }