#header{
    height: 100px;
    width: 100%;
    background-color: #79E0EE;
}
#main{
    height: 500px;
    background-color: #98EECC;
}
    #main-layer1{
        height: 100%;
        width: 15%;
        float: left;
        background-color: #98EECC;
    }
    #main-layer2{
        height: 100%;
        width: 60%;
        float: left;
        background-color: #D0F5BE;
    }
    #mail-layer3{
        height: 100%;
        width: 25%;
        float: left;
        background-color: #FBFFDC;
    }
#footer{
    height: 100px;
    background-color: #F9FBE7;
}