#container{
    width: 1000px;
    margin: 0 auto;
}
#header{
    height: 100px;
    width: 100%;
    background-color: #79E0EE;
}
    #header-1{
        height: 100%;
        width: 15%;
        float: left;
        background-color: red;
    }
    #header-2{
        height: 100%;
        width: 65%;
        float: left;
        background-color: blue;
    }
    #header-3{
        height: 100%;
        width: 20%;
        float: left;
        background-color: green;
    }
#navigator{
    height: 30px;
    width: 100%;
    background-color: blueviolet;
}
#main{
    height: 500px;
    background-color: #98EECC;
}
    #main-1{
        height: 100%;
        width: 10%;
        float: left;
        background-color: #98EECC;
    }
    #main-2{
        height: 100%;
        width: 60%;
        float: left;
        background-color: #D0F5BE;
    }
    #main-3{
        height: 100%;
        width: 30%;
        float: left;
        background-color: #FBFFDC;
    }
#footer{
    height: 100px;
    background-color: #F9FBE7;
}