#all{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}   
input{
    height: 20px;
}
    img{
        text-align: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        /* width: 100%;
        height: 100%; */
        
    }
    .main-img {
        width: 95%;
        height: 90%;
        --padding: 5px;
    }
    .img-caption{
        text-align: center;
        line-height: 1;
        /* 행간 */
    }
    #header{
    height: 120px;
    margin-top: 30px;
    
    }
        #logo{
            height: 100%;
            width: 20%;
            float: left;
            background-size: 100% 100%;
            background-image: url(../img/logo.jpg);
        }
            
        #title{
            height: 100%;
            width: 60%;
            background-image: url(../img/mainlogo.jpg);
            background-repeat: no-repeat;
            float: left;
            text-align: center;
            background-size: 100% 100%;
        }
        #side{
            height: 100%;
            width: 20%;

            float: left;
        }
    #navigator{
        height: 50px;
        background-color: #19b125e0;
        
    }
        ul{
            margin: 0;
            padding: 0;
            height: 100%;
        }
        ul li{
            /* 점박이 없애기 */
            list-style-type: none;  
            /* 옆으로 붙이기 */
            float: left;
            /* 블록처럼 보이기 */
            width: 25%;
            line-height: 50px;
            background-color: rgb(62, 173, 62);
        }
        a{
            /* 밑줄 없애기 */
            text-decoration: none;
        }
        li a:link{
            color: white;
        }
        li a:visited{
            color: white;
        }
    #main{
        height: 600px;
    }
        #banner{
            height: 100%;
            width: 15%;
            background-image: url(../img/left_img.jpg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            float: left;
            margin-top: 5px;
        }
        #contents{
            height: 100%;
            width: 60%;
            float: left;
            margin-top: 10px;
            text-align: center;
            align-items: center;
        }
            #contents-1{
                height: 100%;
                width: 50%; 
                float: left;
            }
                #contents-1-1{
                    height: 50%;
                    width: 100%;
                    
                }
                #contents-1-2{
                    height: 50%;
                    width: 100%;
                    margin-top: 15px;
                }
            #contents-2{
                height: 100%;
                width: 50%;
                float: left;
            }
                #contents-2-1{
                    height: 50%;
                    width: 100%;
                
                }
                #contents-2-2{
                    height: 50%;
                    width: 100%;
                    margin-top: 15px;
                
                }
        #right{
            height: 100%;
            width: 25%;
            float: left;
        }
            #login{
                margin-top: 5px;
                width: 300px;
            }
                
                #login-header{
                    height: 60px;
                        
                }
                
                    #login-1{
                        height: 100%;
                        width: 75%;
                        float: left;
                    }
                        #login-1-1{
                            height: 50%;
                            width: 100%;
                        }
                                
                        #login-1-2{
                            height: 50%;
                            width: 100%;
                        }
                            
                    #login-2{
                        height: 100%;
                        width: 25%;
                        float: left;   
                    }
                        #btn{
                            width: 75%;
                            height: 90%;
                            margin-left: 5px;
                        }
                #login-footer{
                    
                    text-align: center;
                    height: 30px;
                }
            #pic-1{
                width: 100%;
                /* height: 50%; */
                background-size: 100% 100%;
                background-image: url(../img/right_img.jpg);
            }
                #pic-1-2{
                    width: 100%;
                    height: 100%;
                    background-size: 100% 100%;
                }
            #pic-2{
                width: 100%;
                /* height: 15%; */
                background-size: 100% 100%;
                background-image: url(../img/me_chat.jpg);
            }
                #pic-2-2{
                    width: 100%;
                    height: 100%;
                    background-size: 100% 100%;
                }
        #footer{
            height: 150px;
            margin-top: 30px;
        }
